html{
  --desk-img-border-radius: 0 8px 8px 0;
}
body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-size: 90%;
}
.container {
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
  padding: 0;
  margin: 10rem auto;
  max-width: 1110px;
}
.col {
  max-width: 50%;
}
.info {
  padding: 5rem;
}
.info h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 1.7rem;
}
.info #highlight {
  color: hsl(277, 64%, 61%);
}
p {
  color: #9d9bb4;
  letter-spacing: 1px;
  margin-bottom: 4.3rem;
}
.stats {
  justify-content: space-between;
}
.stats p {
  margin-bottom: 0;
  font-size: 80%;
}
.stats h2{
  font-size: 165%;
  margin-bottom: 0;
}
.img-container {
  position: relative;
}
.image {
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: var(--desk-img-border-radius);
  width: 100%;
  height: 100%;
  opacity: 90%;
}
.overlay {
  background-color: hsl(277, 97%, 54%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 58%;
  padding-bottom: 82.5926%;
  mix-blend-mode: multiply;
  border-radius: var(--desk-img-border-radius);
}
.dbl-overlay{
  background-color: hsl(277, 97%, 54%);
  opacity: 21%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: var(--desk-img-border-radius);

}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 100%, 74%);
}
@media screen and (max-width: 1370px) {
  html{
    --mobile-img-brdr-rad: 8px 8px 0 0;
  }
  body {
    font-size: 90%;
    max-width: 375px;
    margin: 10rem auto;
  }
  .col{
    max-width: 100%;
  }
  .info {
    padding: 3rem;
    text-align: center;
  }
  .mobile-info {
    flex-direction: column-reverse;
  }
  .info h1 {
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }
  p {
    margin-bottom: 0px;
    font-size: 16px;
  }
  .mobile-stats{
    flex-direction: column;
  }
  .stats {
    justify-content: space-between;
  }
  .stats p{
    font-size: 14px;
  }
  .stats h2{
    font-size: 2rem;
    margin-top: 2rem;
  }
  .image {
    border-radius: var(--mobile-img-brdr-rad);
  }
  .overlay {
    border-radius: var(--mobile-img-brdr-rad);
  }
  .dbl-overlay{
    border-radius: var(--mobile-img-brdr-rad);
  
  }
}
