body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 100%, 74%);
}
.container {
  background-color: hsl(244, 38%, 16%);
  border-radius: 6px;
  padding: 0;
  margin: 10rem auto;
}
.info {
  padding-right: 5rem !important;
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  padding: 5rem 5rem 1rem 5rem !important;
}
#highlight {
  color: hsl(277, 64%, 61%);
}
h3 {
  padding: 3rem 0 0 5rem !important;
}

p {
  color: #9d9bb4;
  letter-spacing: 1px;
}
.info-p {
  padding: 0 3rem 3rem 5rem !important;
}
.stats p {
  padding: 0 0 0 5rem !important;
}

.img-container {
  position: relative;
}
.image {
  margin: 0;
  padding: 0;
  object-fit: cover;
  border-radius: 0 6px 6px 0;
  z-index: 1;
  filter: contrast(100%);
  width: 100%;
  height: 100%;
}
.overlay {
  background-color: hsl(277, 97%, 54%);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 50%;
  padding-bottom: 82.5926%;
}
@media screen and (max-width: 1385px) {
  .img-container {
    flex-direction: column-reverse;
  }
}
